<!-- <div class="container" [style.background-color]="value"></div>
<button (click)="changeColor()">Change div color</button> -->

<!-- 
<div [style.width.px]="widthInPx"></div>
<div [style.height]="height + 'px'"></div> -->

<!-- <button [style.background-color]="isActive ? 'green' : 'gray'" (click)=" toggleActive()">
  Toggle Status
</button> -->

<!-- <p [style.color]="getColorValue(myValue)">Value: {{myValue}}</p>

<button (click)="increaseValue()">Increase value</button> -->
<!-- 
<div style="width:  {{widthInPx}}px; background-color: lightblue; padding: 10px;">
  Dynamic Width
</div>

<button (click)="increaseWidth()">Increase</button>

<div style="{{`width:  ${widthInPx}px; background-color: lightblue; padding: 10px;`}}">
  Dynamic Width
</div>

<button (click)="increasseWidth()" -->

<div [style]="styles">Dynamic width with interpolation</div>
<button (click)="increasePadding()">Increase Padding</button>