/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("/fonts/CascadiaCode-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: 'Cascadia Code', sans-serif;
  font-weight: 600;
  font-style: italic;
}