@import "tailwindcss";

@theme {
  
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --shadow-shape: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03);

  --shadow-shape-content: 0px 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.02), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.02);

  --text-tiny: 0.625rem; 

  --opacity-2: 0.02;
  --opacity-8: 0.80;

  --animate-border: border 2s linear infinite;

} 

@layer base {
    @property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>'
  }
}

@keyframes border {
  to {
    --border-angle: 360deg
  }
}



@layer utilities {
  .shadow-shape {
    box-shadow: var(--shadow-shape);
  }

  .progress-border {
    &:is([data-state='closed']):is([data-progress='true']) {
        /* Styles for the */
        background: linear-gradient(
          45deg,
          #09090b,
          var(--theme-color-zinc-900) 50%,
          #09090b
        ) padding-box,
        conic-gradient(
          from var(--border-angle),
          var(--theme-color-zinc-700-48) 80%,
          var(--theme-color-indigo-500) 86%,
          var(--theme-color-indigo-300) 90%,
          var(--theme-color-indigo-500) 94%,
          var(--theme-color-zinc-600-48)
        ) border-box;

        /* We may have to define the variables: */
        --border-angle: 0deg; 
        --theme-color-zinc-900: #18181b; /* Adjust these values for the theme */
        --theme-color-zinc-700-48: rgba(63, 63, 70, 0.48); 
        --theme-color-indigo-500: #6366f1; 
        --theme-color-indigo-300: #a5b4fc; 
        --theme-color-zinc-600-48: rgba(82, 82, 91, 0.48); 
      }
  }

}
