/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@theme {
  /* .font-archivo utility cla    ss */
  --font-archivo: "Archivo", ui-sans-serif, system-ui, sans-serif;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

h1 {
  font-family: var(--font-archivo);
}